.container.create-menu{
    padding: 20px;
}

.card-columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card{
        max-width: 40rem;
        min-width: 20rem;
        margin: auto;
        margin-top: 10px;
        
        .card-header{
            background: #b3b3b3;
            color: rgb(0, 0, 0);
        }
        .card-body{
   
            .list-group-item{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap; 
            }
            .list-group-item.crud{
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                
            }
        }
    }

    .select{
        padding: 5px;
        margin: auto;
    }

    .table.table-bordered.table-hover{
        border: 1px solid #dee2e6;
        border-collapse: collapse;
        box-sizing: border-box;
        color: #212529;
        margin-bottom: 1rem;
        width: 100%;
        margin: auto;
    }
}

.navbar-laravel{
    background: #b4b4b4;
    color: rgb(0, 0, 0);
}

.user{
    display: flex;
    flex-direction: column;
}