html{
    padding: 0;
    color: black;
}
body{
    color: black;
    
@import 'components/accueil.scss';
@import 'components/menu.scss';
@import 'components/about.scss';
@import 'components/footer.scss';
@import 'components/mentionslegales.scss';
.view-tenth {
    -webkit-user-select: none;
    -webkit-touch-callout: none; 
    }
}
