	.trait{
		border-top: 4px solid #6D071A;
	}
	
.imgroca{

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		background-image: url(https://image.noelshack.com/fichiers/2019/08/3/1550662060-img-20190220-wa0002.jpg);
		height: 900px;
		background-position:center;
		background-repeat: no-repeat;
		background-size: cover;
		&:hover{
			i{display: none;}
			-webkit-box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
			cursor: pointer;
			.textroca{display: block;}
			.titre{background:none;}
			}
			i{
				display: none;
			}

	.titre{
		font-family: EB Garamond;
		color:white;
		font-size: 4rem;
		padding-top: 40px;
	}

	.textroca  {
		display: flex;
		flex-wrap:wrap;
		color: white;
		display: none;
		color: white;
		font-size: 1.5rem;
		font-family: 'Montserrat', sans-serif;
		padding:10px;
		margin:10%;
		
	}
}
@media screen and (max-width:1024px) {

	.imgroca{
		i{
			display: block;
			color: white;
			font-size: 100px;
			opacity: .6;
		}
		
		.textroca{
			font-size: 1rem;
		}
	}
	
}
	