.header
{
	font-family: 'EB Garamond', serif;
	.top
	{
		background: linear-gradient(180deg, #C4C4C4 -8.5%, rgba(196, 196, 196, 0.756906) 15.81%, rgba(196, 196, 196, 0.541436) 37.35%, rgba(196, 196, 196, 0.370166) 54.48%, rgba(196, 196, 196, 0.176796) 73.82%, rgba(196, 196, 196, 0) 91.5%);
		text-align: center;
		
		img
		{
			width: 40vh;
			padding: 10px;
		}
	}

	hr
	{
		margin: 0;
		color: #6D071A;
		border: 2px solid;
	}
}

.navbar
{
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	color: white;
	button
	{
		i{
			color: white;
		}
	}

	.collapse
	{
		font-family: 'Crimson Text', serif;
		ul
		{
			width: 100%;
			display: flex;
			justify-content: space-around;
			li
			{
				a
				{
					color: white;
					font-weight: bold;
					font-variant: small-caps;
					font-size: 1.5rem;
					font-family: EB Garamond;
					&:hover
					{
						color: rgb(146, 0, 27);
						opacity: .7;

					}
				}
			}
		}
	}
}

.fixNavigation
{
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
}

.carousel
{
	.bgimg
	{
		filter: brightness(65%);
	}

	.carousel-control-next
	{
		.carousel-control-next-icon
		{
			width: 50px;
			height: 50px;
		}
	}
	.carousel-control-prev
	{
		.carousel-control-prev-icon
		{
			width: 50px;
			height: 50px;
		}
	}

	.texteDescriptionRestaurant
	{
		font-family: 'Montserrat', sans-serif;
		font-variant: small-caps;
		font-size: 1.6rem;
		font-weight: bold;
		position: absolute;
		top: 60%;
		color: white;
		padding: 50px;
	}

	hr
	{
		margin: 0;
		color: #6D071A;
		border: 1px solid;

	}
}

@media screen and (max-width: 1024px)
{	
	.carousel{

		.carousel-control-next
	{
		.carousel-control-next-icon
		{
			margin-top: -200px;
			width: 80px;
			height: 80px;
		}
	}
	.carousel-control-prev
	{
		.carousel-control-prev-icon
		{
			margin-top: -200px;
			width: 80px;
			height: 80px;
		}
	}

	.texteDescriptionRestaurant
	{
		margin: 10px 0px;
		position: relative;
	filter: brightness(50%);
		font-size: 15px;
	}
	}
}
