.allcontain{
	flex-wrap: wrap;

}
.logoref{
	background: radial-gradient(#FFF, #c2c2a3);
	display: flex;
	
	padding: 40px;
	justify-content: space-between;
	flex-wrap: wrap;
	min-width: 100px;
	align-items: center;
}
.textContact{
	text-align: center;
	margin:auto;
	font-family: EB Garamond;
	color: #6D071A;
	padding: 0px 0px 70px;
	flex-wrap: wrap;
	margin-top: 70px;
}
.contact{
	text-align: center;
	font-family: EB Garamond;
	color: #000000;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
	min-width: 50%;
	.horaires{
		display: flex;
		justify-content: space-around;
		padding: 5px;
		font-family: 'Montserrat', sans-serif;
		margin-top: 10px;
		
	}
		.infos{
			display: flex;
			justify-content: space-around;
			padding: 5px;
			font-family: 'Montserrat', sans-serif;
			margin-top: 10px;
		}
}
.dates{
	font-size: 15px;
}
.contacte{
	
	flex-wrap: wrap;
}
.contacts{
	
	flex-wrap: wrap;
}
.maps{
	min-width: 100px;
	flex-wrap: wrap;
	display: flex;
	margin-bottom: 15px;
}
.marge{
	margin-left: 15px;
	

}
.margetel{
	color: #6D071A;
	font-weight: bold;
	font-size: 20px;
	margin-left: 15px;

}

.nomresto{
	text-align: center;
}
.style{
	border-bottom: 2px solid #6D071A;
}
.trait{

	border-top: 4px solid #6D071A;
	margin:0px;
}
.routard{
	width: 150px;
	min-width: 20px;
}
.lonelyplanet{
	width: 150px;
	min-width: 20px;
}
.petitfute{
	width: 150px;
	margin-right: 20px;
	min-width: 20px;
}
.geoguide{
	width: 130px;
	margin-left: 20px;
	min-width: 20px;
}
.contactetmaps{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	min-width: 150px;
	// justify-content:center;	
}
.globalform{
	width: 100%;
	margin: auto;
	margin-left: 40px;
	flex-wrap:wrap;
	min-width: 1.5rem; 	
}

.traitseparation{
	width: 200px;
	border-top: 3px solid #6D071A;
	display: flex;
	margin-bottom: 25px;
}
.reservation{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color: rgb(255, 255, 255);
	background: #6D071A;
	label{
		font-size: 18px;
	}
	small{
		font-size: 13px;
		font-style: italic;
	}
	h1{
		font-family: EB Garamond;
		margin-top: 20px;
	}
	.footer{
		font-family: 'Montserrat', sans-serif;
		font-size: 0.8rem;
		display: flex;
		justify-content: center;
		font-variant: small-caps;
	}
	input{
		border: none;
		border-radius: 0%;
	}
	textarea{
		border: none;
		border-radius: 0%;
	}
	.container_contact{
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		max-width: 1140px;
		padding-left: 15px;
		padding-right: 15px;
		width: 50%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
@media screen and (max-width:1024px) {

		.logoref{
			padding: 10px;
		}
		.geoguide {
			width: 70px;
		}	
		.routard {
			width: 70px;
		}

		.lonelyplanet{
			width: 70px;
		}

		.petitfute{
			width: 70px;
		}
			
}


