.mentions_legales{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: start;
    font-variant: small-caps;
}