.containers {
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    margin:15px;
    .carteaffichee{   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    h1 {
        font-variant: small-caps;
        color: #6D071A;
        font-family: EB Garamond;
        text-align: center;
        margin: 5%;
        font-size: 64px;
    }
            h2 {
                text-align: center;
                font-variant: small-caps;
                display: inline-flex;
                font-family: EB Garamond;
                font-weight: bold;
                color: #585858;
                font-size: 2.5rem;
                span {
                    margin-left: 5px;
                    color: #6D071A; 
                    font-family: EB Garamond;
                    font-weight: bold; 
                }
            }
        img {
            width: 30px;
            height: 30px;
            margin-left: 10px;
            
        }
    
    img {
        width: 30px;
        height: 30px;
        margin-left: 30px;

    }
    
    .plus {
        font-size: 25px;
        background-color:#6D071A;
        color: white;
        margin-bottom: 5px;
    }

    .more {
        font-size: 25px;
        background-color:#6D071A;
        color: white;
        margin-bottom: 5px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        
        .titre{
            text-align: center;
            font-variant: small-caps;
            display: inline-flex;
            font-family: EB Garamond;
            font-weight: bold;
            color: #585858;
        }

        .block{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
            .elements_block{

                .fait_maison{
                    display: flex;
                    align-items: end;
                    justify-content: center;
                }
            }
        }
    }

    .formule_express {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .titre{
            text-align: center;
            font-variant: small-caps;
            display: inline-flex;
            font-family: EB Garamond;
            font-weight: bold;
            color: #585858;
        }

        .block{
            .centrercarre{
                display: flex;
                justify-content: center;
                .carrerouge{
                    background-color: #6D071A;
                    width: 10px;
                    height: 10px;

                }
            }

            .elements_blockformule{
                display: flex;
                


                .fait_maison{
                    display: flex;
                    align-items: end;
                    justify-content: center;
                }
                .prixformuleexpress{
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
        }
    }

        .menu_enfant{
            margin: 30px 0px;
            .elementsmenuenfant{
                display: flex;
                align-items: center;
                justify-content: center;
                .carrerouge{
                     background-color: #6D071A;
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                }
            }
            .ou{
                text-align: center;
            }
        }
    .entreesPlats{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .entrees {
            color:#6D071A;
            margin: 30px 0px;
            .carrerouge1{
                background-color: #6D071A;
                width: 10px;
                height: 10px;
                margin-top: 10px;
                margin-right: 10px;
            }
        .elements_Entrees{
       
            .text-centre{
                display: flex;
                flex-wrap: wrap;  
            }
        
        }
        .fait_maison{
            display: flex;
            
             }
         }
    }

        .collapse{
            
            .fromage{
               text-align: center;
               
                .elementsFromage{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #6D071A;
                    font-weight: bold;

                }
            }
            .desserts{
                margin: 30px 0px;
                .carteDesserts{
                      color: #6D071A;
                    .elementsDesserts{
                        display: flex;
                        align-items: center;
                      
                       
                    }
                }
            }
            .crepes{
                margin: 30px 0px;
                .carteCrepe{
                    color: #6D071A;
                    .elementsDesserts{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .elementsCollapse{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
 .carrerouge{
                     background-color: #6D071A;
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                }        
.plats{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.carrerouge1{
    background-color: #6D071A;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.element_plats{
    display: flex;
    align-items: end;
    align-items:center;
}  
.text-centre{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    justify-content: flex-start;
    color:#6D071A;
}
.fait_maison{
    display: flex;
    flex-wrap: wrap;
}
.marge{
    padding-left: 15px;
}

.aroundcarre{
    display: flex;
    justify-content: center;
    .carrerouge{
        background-color: #6D071A;
        width: 10px;
        height: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}