html {
  padding: 0;
  color: black;
}

body {
  color: black;
}

body .header {
  font-family: "EB Garamond", serif;
}

body .header .top {
  background: linear-gradient(180deg, #C4C4C4 -8.5%, rgba(196, 196, 196, 0.756906) 15.81%, rgba(196, 196, 196, 0.541436) 37.35%, rgba(196, 196, 196, 0.370166) 54.48%, rgba(196, 196, 196, 0.176796) 73.82%, rgba(196, 196, 196, 0) 91.5%);
  text-align: center;
}

body .header .top img {
  width: 40vh;
  padding: 10px;
}

body .header hr {
  margin: 0;
  color: #6D071A;
  border: 2px solid;
}

body .navbar {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  color: white;
}

body .navbar button i {
  color: white;
}

body .navbar .collapse {
  font-family: "Crimson Text", serif;
}

body .navbar .collapse ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

body .navbar .collapse ul li a {
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5rem;
  font-family: EB Garamond;
}

body .navbar .collapse ul li a:hover {
  color: #92001b;
  opacity: 0.7;
}

body .fixNavigation {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
}

body .carousel .bgimg {
  -webkit-filter: brightness(65%);
          filter: brightness(65%);
}

body .carousel .carousel-control-next .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

body .carousel .carousel-control-prev .carousel-control-prev-icon {
  width: 50px;
  height: 50px;
}

body .carousel .texteDescriptionRestaurant {
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
  font-size: 1.6rem;
  font-weight: bold;
  position: absolute;
  top: 60%;
  color: white;
  padding: 50px;
}

body .carousel hr {
  margin: 0;
  color: #6D071A;
  border: 1px solid;
}

@media screen and (max-width: 1024px) {
  body .carousel .carousel-control-next .carousel-control-next-icon {
    margin-top: -200px;
    width: 80px;
    height: 80px;
  }

  body .carousel .carousel-control-prev .carousel-control-prev-icon {
    margin-top: -200px;
    width: 80px;
    height: 80px;
  }

  body .carousel .texteDescriptionRestaurant {
    margin: 10px 0px;
    position: relative;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    font-size: 15px;
  }
}

body .containers {
  font-family: "Crimson Text", serif;
  font-size: 1.2rem;
  margin: 15px;
}

body .containers .carteaffichee {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

body .containers h1 {
  font-variant: small-caps;
  color: #6D071A;
  font-family: EB Garamond;
  text-align: center;
  margin: 5%;
  font-size: 64px;
}

body .containers h2 {
  text-align: center;
  font-variant: small-caps;
  display: inline-flex;
  font-family: EB Garamond;
  font-weight: bold;
  color: #585858;
  font-size: 2.5rem;
}

body .containers h2 span {
  margin-left: 5px;
  color: #6D071A;
  font-family: EB Garamond;
  font-weight: bold;
}

body .containers img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

body .containers img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

body .containers .plus {
  font-size: 25px;
  background-color: #6D071A;
  color: white;
  margin-bottom: 5px;
}

body .containers .more {
  font-size: 25px;
  background-color: #6D071A;
  color: white;
  margin-bottom: 5px;
}

body .containers .menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

body .containers .menu .titre {
  text-align: center;
  font-variant: small-caps;
  display: inline-flex;
  font-family: EB Garamond;
  font-weight: bold;
  color: #585858;
}

body .containers .menu .block {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .containers .menu .elements_block .fait_maison {
  display: flex;
  align-items: end;
  justify-content: center;
}

body .formule_express {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

body .formule_express .titre {
  text-align: center;
  font-variant: small-caps;
  display: inline-flex;
  font-family: EB Garamond;
  font-weight: bold;
  color: #585858;
}

body .formule_express .block .centrercarre {
  display: flex;
  justify-content: center;
}

body .formule_express .block .centrercarre .carrerouge {
  background-color: #6D071A;
  width: 10px;
  height: 10px;
}

body .formule_express .block .elements_blockformule {
  display: flex;
}

body .formule_express .block .elements_blockformule .fait_maison {
  display: flex;
  align-items: end;
  justify-content: center;
}

body .formule_express .block .elements_blockformule .prixformuleexpress {
  text-align: center;
  margin-bottom: 5px;
}

body .menu_enfant {
  margin: 30px 0px;
}

body .menu_enfant .elementsmenuenfant {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .menu_enfant .elementsmenuenfant .carrerouge {
  background-color: #6D071A;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

body .menu_enfant .ou {
  text-align: center;
}

body .entreesPlats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

body .entreesPlats .entrees {
  color: #6D071A;
  margin: 30px 0px;
}

body .entreesPlats .entrees .carrerouge1 {
  background-color: #6D071A;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

body .entreesPlats .entrees .elements_Entrees .text-centre {
  display: flex;
  flex-wrap: wrap;
}

body .entreesPlats .entrees .fait_maison {
  display: flex;
}

body .collapse .fromage {
  text-align: center;
}

body .collapse .fromage .elementsFromage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6D071A;
  font-weight: bold;
}

body .collapse .desserts {
  margin: 30px 0px;
}

body .collapse .desserts .carteDesserts {
  color: #6D071A;
}

body .collapse .desserts .carteDesserts .elementsDesserts {
  display: flex;
  align-items: center;
}

body .collapse .crepes {
  margin: 30px 0px;
}

body .collapse .crepes .carteCrepe {
  color: #6D071A;
}

body .collapse .crepes .carteCrepe .elementsDesserts {
  display: flex;
  align-items: center;
}

body .elementsCollapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body .carrerouge {
  background-color: #6D071A;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

body .plats {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

body .carrerouge1 {
  background-color: #6D071A;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

body .element_plats {
  display: flex;
  align-items: end;
  align-items: center;
}

body .text-centre {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-content: center;
  justify-content: flex-start;
  color: #6D071A;
}

body .fait_maison {
  display: flex;
  flex-wrap: wrap;
}

body .marge {
  padding-left: 15px;
}

body .aroundcarre {
  display: flex;
  justify-content: center;
}

body .aroundcarre .carrerouge {
  background-color: #6D071A;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body .trait {
  border-top: 4px solid #6D071A;
}

body .imgroca {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: url(https://image.noelshack.com/fichiers/2019/08/3/1550662060-img-20190220-wa0002.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .imgroca:hover {
  -webkit-box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

body .imgroca:hover i {
  display: none;
}

body .imgroca:hover .textroca {
  display: block;
}

body .imgroca:hover .titre {
  background: none;
}

body .imgroca i {
  display: none;
}

body .imgroca .titre {
  font-family: EB Garamond;
  color: white;
  font-size: 4rem;
  padding-top: 40px;
}

body .imgroca .textroca {
  display: flex;
  flex-wrap: wrap;
  color: white;
  display: none;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  margin: 10%;
}

@media screen and (max-width: 1024px) {
  body .imgroca i {
    display: block;
    color: white;
    font-size: 100px;
    opacity: 0.6;
  }

  body .imgroca .textroca {
    font-size: 1rem;
  }
}

body .allcontain {
  flex-wrap: wrap;
}

body .logoref {
  background: radial-gradient(#FFF, #c2c2a3);
  display: flex;
  padding: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100px;
  align-items: center;
}

body .textContact {
  text-align: center;
  margin: auto;
  font-family: EB Garamond;
  color: #6D071A;
  padding: 0px 0px 70px;
  flex-wrap: wrap;
  margin-top: 70px;
}

body .contact {
  text-align: center;
  font-family: EB Garamond;
  color: #000000;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  min-width: 50%;
}

body .contact .horaires {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

body .contact .infos {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

body .dates {
  font-size: 15px;
}

body .contacte {
  flex-wrap: wrap;
}

body .contacts {
  flex-wrap: wrap;
}

body .maps {
  min-width: 100px;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 15px;
}

body .marge {
  margin-left: 15px;
}

body .margetel {
  color: #6D071A;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}

body .nomresto {
  text-align: center;
}

body .style {
  border-bottom: 2px solid #6D071A;
}

body .trait {
  border-top: 4px solid #6D071A;
  margin: 0px;
}

body .routard {
  width: 150px;
  min-width: 20px;
}

body .lonelyplanet {
  width: 150px;
  min-width: 20px;
}

body .petitfute {
  width: 150px;
  margin-right: 20px;
  min-width: 20px;
}

body .geoguide {
  width: 130px;
  margin-left: 20px;
  min-width: 20px;
}

body .contactetmaps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-width: 150px;
}

body .globalform {
  width: 100%;
  margin: auto;
  margin-left: 40px;
  flex-wrap: wrap;
  min-width: 1.5rem;
}

body .traitseparation {
  width: 200px;
  border-top: 3px solid #6D071A;
  display: flex;
  margin-bottom: 25px;
}

body .reservation {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  background: #6D071A;
}

body .reservation label {
  font-size: 18px;
}

body .reservation small {
  font-size: 13px;
  font-style: italic;
}

body .reservation h1 {
  font-family: EB Garamond;
  margin-top: 20px;
}

body .reservation .footer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  font-variant: small-caps;
}

body .reservation input {
  border: none;
  border-radius: 0%;
}

body .reservation textarea {
  border: none;
  border-radius: 0%;
}

body .reservation .container_contact {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  body .logoref {
    padding: 10px;
  }

  body .geoguide {
    width: 70px;
  }

  body .routard {
    width: 70px;
  }

  body .lonelyplanet {
    width: 70px;
  }

  body .petitfute {
    width: 70px;
  }
}

body .mentions_legales {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

body .footer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: start;
  font-variant: small-caps;
}

body .view-tenth {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

